
{% extends "Framing33HomeBundle::base.html.twig" %}
{% block title %}{{ parent()|Nos professeurs }}{% endblock %}
{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Nos enseignants</h3>
            <hr>
            <p>L’encadrement de votre enfant ne saurait être confié au premier venu. C’est la raison pour laquelle Framing33 met un point d’honneur dans le recrutement de ses enseignants. Une sélection rigoureuse de ses enseignants dont le parcours pédagogique, leur expérience et leur passion de la transmission est faite de façon systématique à chaque recrutement.
            L’enseignant affecté au suivi  de votre enfant mérite que vous accordiez de l’importance aux retours qu’il vous fera afin de l’accompagner vers l’excellence.</p>

            <span>Un suivi attentif de l'élève et de sa scolarité</span>
            <p>Framing33 met un accent particulier sur le suivi attentif, tant de l’élève que de ses résultats scolaires. Dans cet ordre, un tableau de bord est établi entre la famille et Framing33 pour suivre l’évolution comportementale et les progrès de l’enfant vers l’excellence.</p>
        </div>
    </div>
{% endblock %}
