
{% extends "Framing33HomeBundle::base.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Qui sommes-nous?</h3>
            <hr>
            <span>Une équipe pédagogique spécialisée dans le soutien scolaire</span>
            <p> Framing33, c'est avant tout une équipe d’enseignants et d’encadreurs spécialisés recrutés dans toute la région d’Ile de France pour répondre aux préoccupations des parents, et suivre les élèves en cours à domicile tout au long de leur scolarité.
                Nous mettrons l’expérience et le dynamisme de nos enseignants au service de votre enfant pour l'aider à surmonter ses difficultés, ses lacunes et renforcer progressivement sa confiance en lui.</p>

            <span>L'écoute au cœur de notre méthodologie</span>
            <p>Bien vous écouter pour mieux traduire vos attentes sen termes de recrutement et sélectionner au mieux le professeur à domicile qui saura non seulement redonner confiance à vos enfants, mais également les accompagner dans leur réussite scolaire !
                Chez Framing33, nous ne faisons pas du « prêt à l’emploi » ou du « prêt à porter ». Notre base de travail, ce sont vos remarques, vos témoignages, le parcours de l'élève, ses difficultés et ses potentialités, afin de retenir la méthodologie idéale qui permettra d’améliorer les résultats de vos enfants.</p>

            <span>Notre objectif : la réussite scolaire de vos enfants</span>
            <p>Framing33 place au cœur de sa politique le progrès de vos enfants vers l’Excellence. C’est la raison de son slogan « <span>Parmi Vous et avec Vous pour l’Excellence ! </span>», car les intervenants de Framing33 ne sont autres que des professionnels vivant les mêmes réalités sociales que vous.</p>

            <span>Et les résultats seront au rendez-vous!</span>
            <p>En effet, la réussite d'un cours particulier ou d’une aide aux devoirs tient aussi bien à la qualité de l’enseignant et à la relation privilégiée qu'il entretient avec l’élève. Framing33 fait de ce binôme le socle de la réussite scolaire de votre enfant.</p>
        </div>
    </div>
{% endblock %}
