
{% extends "Framing33HomeBundle::base.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
    <p>
        Une équipe pédagogique spécialisée dans le soutien scolaire
        Framing33, c'est avant tout une équipe d’enseignants et d’encadreurs spécialisés recrutés dans toute la région d’Ile de France pour répondre aux préoccupations des parents, et suivre les élèves en cours à domicile tout au long de leur scolarité.
        Nous mettrons l’expérience et le dynamisme de nos enseignants au service de votre enfant pour l'aider à surmonter ses difficultés, ses lacunes et renforcer progressivement sa confiance en lui.

        L'écoute au cœur de notre méthodologie
        Bien vous écouter pour mieux traduire vos attentes sen termes de recrutement et sélectionner au mieux le professeur à domicile qui saura non seulement redonner confiance à vos enfants, mais également les accompagner dans leur réussite scolaire !
        Chez Framing33, nous ne faisons pas du « prêt à l’emploi » ou du « prêt à porter ». Notre base de travail, ce sont vos remarques, vos témoignages, le parcours de l'élève, ses difficultés et ses potentialités, afin de retenir la méthodologie idéale qui permettra d’améliorer les résultats de vos enfants.

        Notre objectif : la réussite scolaire de vos enfants
        Framing33 place au cœur de sa politique le progrès de vos enfants vers l’Excellence. C’est la raison de son slogan « Parmi Vous et avec Vous pour l’Excellence ! », car les intervenants de Framing33 ne sont autres que des professionnels vivant les mêmes réalités sociales que vous.

        Et les résultats seront au rendez-vous !
        En effet, la réussite d'un cours particulier ou d’une aide aux devoirs tient aussi bien à la qualité de l’enseignant et à la relation privilégiée qu'il entretient avec l’élève. Framing33 fait de ce binôme le socle de la réussite scolaire de votre enfant.

        Nos cours particuliers à domicile

        Une méthode simple et efficace
        La méthodologie employée par Framing33 est très simple :
        a.	Encourager l’élève à entretenir un dialogue permanent avec ses enseignants (école, collège, lycée) afin d’obtenir les éclaircissements nécessaires sur les différentes zones d’ombre qu’il rencontre ;
        b.	Faire ensemble le point avec l’élève pour vérifier la mise en œuvre de ce dialogue permanent et apporter les informations complémentaires ;
        c.	Approfondir les connaissances de l’élève par un cours succinct et des exercices adaptés pour conduire votre enfant vers l’excellence.

        Des objectifs scolaires clairs
        L’objectif du soutien scolaire est d’aider l'élève à mieux s'organiser par l’acquisition d’une méthode d’approche et de travail. Pour cela, il est essentiel de fixer des objectifs clairs, réalistes et réalisables pour l’élève.
        Cette méthode d’approche et de travail lui permettra de relever progressivement le défi de l’excellence.

    </p>
{% endblock %}
