
{% extends "Framing33HomeBundle::base.html.twig" %}
{% block title %}{{ parent() }}|Nous recrutons{% endblock %}
{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Recrutement</h3>
            <hr>
            <p>En devenant enseignant Framing33, l’enseignant met en avant ses connaissances et son savoir son sens de l'écoute, sa pédagogie et il acquiert un supplément d’expérience professionnelle enrichissante et valorisante.
            L’enseignant suit des élèves pendant l'année scolaire, près de son domicile, aux horaires de son choix. Il peut donner des cours de quelques heures à 20 heures par semaine.
            Aussi, enseignants, formateurs, universitaires ou étudiants en école de commerce, d’ingénieur…, vous souhaitez transmettre vos connaissances ? Rejoignez l'équipe Framing33 !</p>
        </div>
    </div>
{% endblock %}
