{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
   <div id="cadre">
       <div id="block-text">
           <h3>Aides aux dévoirs</h3>
           <hr>
           <p>Une formule qui permet, du primaire jusqu’au collège, de maîtriser les bases et d’acquérir de bonnes méthodes de travail telles que : les révisions des cours de la semaine, la tenue des cahiers, mais aussi l’entraînement aux exercices.
           Un enseignant polyvalent  peut intervenir dans plusieurs matières et aider votre enfant à développer son autonomie grâce à de bons conseils de méthodologie.</p>
       </div>
   </div>
{% endblock %}