{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
    <div id="cadre">
        <div class="jumbotron cadre1">
            <h3>Confirmation de votre demande d'insciption</h3><hr>
            <p>Vous avez demandé une inscription aux cours de Framing33.<br>Vous receverez un mail de confirmation après validation de votre inscription</p>
        </div>
    </div>
{% endblock %}