{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
    <div class="container1">
        <h4 class="color">Confirmation de votre demande d'inscription</h4>
        <p>Vous avez demandé à être inscrit sur nos liste pour un soutien academique<br>
        </p>
    </div>
{% endblock %}