{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Nos cours particuliers à domicile</h3>
            <hr>
            <span>Une méthode simple et efficace</span>
            <p>La méthodologie employée par Framing33 est très simple :
            <dl class="dl-horizontal">
                <dt>a.</dt>
                <dd>Encourager l’élève à entretenir un dialogue permanent avec ses enseignants (école, collège, lycée) afin d’obtenir les éclaircissements nécessaires sur les différentes zones d’ombre qu’il rencontre</dd>
                <dt>b.</dt>
                <dd>Faire ensemble le point avec l’élève pour vérifier la mise en œuvre de ce dialogue permanent et apporter les informations complémentaires</dd>
                <dt>c.</dt>
                <dd>Approfondir les connaissances de l’élève par un cours succinct et des exercices adaptés pour conduire votre enfant vers l’excellence</dd>
            </dl>
            </p>
            <span>Des objectifs scolaires clairs</span>
            <p>L’objectif du soutien scolaire est d’aider l'élève à mieux s'organiser par l’acquisition d’une méthode d’approche et de travail. Pour cela, il est essentiel de fixer des objectifs clairs, réalistes et réalisables pour l’élève.
            Cette méthode d’approche et de travail lui permettra de relever progressivement le défi de l’excellence</p>

            {{ include('Framing33SoutienScolaireBundle:SoutienScolaire:nostarifs.html.twig') }}

        </div>
    </div>
{% endblock %}