{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Groupes d'études</h3><hr>
            <p>
                Au cœur des préoccupations de Framing33, l’adaptation de nos formules aux budgets des familles. La récession persistante ne fait qu’accroître les difficultés financières et sociales des familles.
                Aussi, Framing33 propose, dans les villes où elle dispose d’une antenne, l’organisation de groupes d’études composés de 5 à 10 élèves d’une même classe afin de réduire les frais de suivi, tout en créant une dynamique de groupe.

            </p>

        </div>
    </div>

{% endblock %}