<button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2">Voir nos tarifs</button>
<div id="collapseOne2" class="collapse" >
    <table  class="table table-responsive">
        <caption>PRIMAIRE</caption>
        <tr>
            <td>Un élève</td><td>15€/heure (Hors taxes))</td></tr>
        <tr>
            <td>2 élèves et plus</td><td>13€/heure (Hors taxes)</td></tr>
        <tr>
            <td>Groupe d'études(5 à 10 élèves d'une même class)</td><td>10€/heure (Hors taxes)</td>
        </tr>
    </table>

    <table  class="table table-responsive">
        <caption>COLLEGE</caption>
        <tr>
            <td>Un élève</td><td>17€/heure (Hors taxes)</td></tr>
        <tr>
            <td>2 élèves et plus</td><td>15€/heure (Hors taxes)</td></tr>
        <tr>
            <td>Groupe d'études(5 à 10 élèves d'une même class)</td><td>12€/heure (Hors taxes)</td>
        </tr>
    </table>

    <table class="table table-responsive">
        <caption>LYCEE</caption>
        <tr>
            <td>Un élève</td><td>20€/heure (Hors taxes)</td></tr>
        <tr>
            <td>2 élèves et plus</td><td>17€/heure (Hors taxes)</td></tr>
        <tr>
            <td>Groupe d'études(5 à 10 élèves d'une même class)</td><td>15€/heure (Hors taxes)</td>
        </tr>
    </table>
</div>