{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Vacances scolaires{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Programmes vacances scolaires</h3><hr>
            <span>Stages intensifs de vacances à domicile</span>
            <p>
                La période des vacances est souvent propice à la <span>révision des bases scolaires</span>, des notions non acquises durant l’année scolaire ou le trimestre précédent. Framing33 propose <span>stages intensifs</span> pendant une semaine ou 2 ou même pendant les grandes vacances, les cours pouvant être plus étalés. Avec des <span>professeurs sur toute la France</span>, les cours peuvent être dispensés à votre domicile ou sur votre lieu de vacances.
            </p>
            {{ include('Framing33SoutienScolaireBundle:SoutienScolaire:nostarifs.html.twig') }}
    </div>
{% endblock %}