{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Alphabétisation et Citoyenneté</h3><hr>

            <p>L’apprentissage et la maîtrise des langues sont des éléments fondamentaux dans le cadre de la communication. Que cette dernière soit écrite ou orale. C’est ainsi que dans le cadre de la laïcité et du respect des valeurs républicaines caractérisant la France, Framing33 propose des cours d’apprentissage et de mise à niveau de diverses langues, à commencer par le français, langue officielle de la République française.</p>

            </p>
        </div>
    </div>
{% endblock %}