{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Langues orientales</h3><hr>
            <p>La Chine et la Russie, réunies, c’est un immense marché de 1,5 milliards d’humains, d’une part. D’autre part, les entreprises de ces deux immenses pays sont sans cesse en quête de marchés, également. La connaissance de la langue chinoise, de la langue russe deviennent des impératifs pour acheter et/ou vendre à ce niveau.
            Framing33 vous accompagne, en vous proposant des programmes adaptés à vos besoins pour découvrir ou vous améliorer vos connaissances en chinois et ou en russe.</p>

        </div>
    </div>
{% endblock %}