{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Langues occidentales{% endblock %}

{% block body %}
   <div id="cadre">
       <div id="block-text">
           <h3>Langues occidentales</h3><hr>
           <span>UTILISEZ VOTRE CPF ET MAÎTRISEZ DE NOUVELLES LANGUES !</span>
           <p>Anglais, allemand, espagnol et portugais sont les trois langues occidentales, en plus du français pour lesquelles nous avons conçu des programmes adaptés au besoin du public.
           Le monde professionnel exige de plus en de connaissances et des besoins dans ces langues. Travailler avec un partenaire américain ? Recevoir un client allemand ? Traduire des documents en espagnol ? Framing33 vous accompagne pour tous vos besoins à ces niveaux pour mieux communiquer.
           La Formation professionnelle continue vous aide pour apprendre ces langues, pour les maitriser, pour les mieux utiliser au quotidien.</p>

           <p><span>Le rythme d’apprentissage est entre vos mains.</span><br>
           Nous sommes à votre écoute pour vous fournir des prestations à la carte.</p>

           <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" href="#locc">Voir nos tarifs</button>
           <div id="locc" class="collapse" >
               <table  class="table table-responsive">
                   <tr>
                       <td>Anglais (communication courante)</td><td>5 jours</td></tr>
                   <tr>
                       <td>Anglais (perfectionnement)</td><td>5 jours</td></tr>
                   <tr>
                       <td>Anglais des affaires</td><td>5 jours</td></tr>
                   <tr>
                       <td>Allemand (communication courante)</td><td>5 jours</td></tr>
                   <tr>
                       <td>Espagnol (communication courante)</td><td>5 jours</td></tr>
                   <tr>
                       <td>Regroupement</td><td>100€/jour (Hors taxes), soit 20€(HT) par heure </td></tr>
                   <tr>
                       <td>Intra (chez le client)</td><td>150€/jour (Hors taxes), soit 30€(HT) par heure</td></tr>
               </table>

               </p>
           </div>
       </div>
   </div>
{% endblock %}