{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Langues africaines{% endblock %}

{% block body %}
    <div id="cadre" xmlns="http://www.w3.org/1999/html">
      <div id="block-text">
          <h3>Langues africaines</h3><hr>
          <span>Les langues que nous vous proposons:</span>
          <span><ul class="list-unstyled rouge">
              <li>Ashanti</li><li>Bambara</li><li>Lingala</li>
              <li>Swahili</li><li>Wolof</li><li>Yoruba</li>
          </ul></span>
          <p>Quelle entreprise occidentale ne vise pas le marché africain pour se fournir ou écouler ses marchandises ? Quels meilleurs outils que les langues africaines pour faciliter le contact, les échanges et communiquer de la meilleure des façons ?</p>
          <p>La langue véhicule l’histoire, la culture, les us et coutumes d’un peuple. En apprenant une langue, on n’apprend non seulement à lire et à communiquer, mais on apprend aussi sur les habitudes des uns et des autres et cela ne peut que faciliter la réalisation du business.</p>
          <p><span>Bambara, lingala, swahili</span> sont dans notre programme avec des locuteurs dont ces langues sont les langues principales.</p>

          <p>En fonction de votre niveau, nous vous proposons un programme adapté d’apprentissage de ces langues africaines.</p>

          <p>Nous sommes à votre service pour bâtir avec vous un programme sur mesure, avec nos formateurs natifs ou linguistes.</p>
          <p>Framing33 propose, dans le cadre du Compte Personnel de Formation (CPF), ou du Plan de Formation aux salariés et aux entreprises, des formations professionnelles personnalisées.</p>

          <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" href="#lafr">Voir nos tarifs</button>
          <div id="lafr" class="collapse" >
              <table  class="table table-responsive">
                  <tr>
                      <td>Bambara (communication courante)</td><td>5 jours</td></tr>
                  <tr>
                      <td>Bambara (communication courante)</td><td>5 jours</td></tr>
                  <tr>
                      <td>Swahili (communication courante)</td><td>5 jours</td></tr>
                  <tr>
                      <td>Wolof (communication courante)</td><td>5 jours</td></tr>
                  <tr>
                      <td>Yoruba (communication courante)</td><td>5 jours</td></tr>
                  <tr>
                      <td>Regroupement</td><td>90€/jour (Hors taxes), soit 18€(HT) par heures</td></tr>
                  <tr>
                      <td>Intra (chez le client)</td><td>130€/jour (Hors taxes), soit 26€(HT) par heure</td></tr>
              </table>

              </p>
          </div>
      </div>
  </div>
{% endblock %}