{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Langues orientales-Apprendre le russe, le mandarin{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Langues orientales</h3><hr>
            <p>La Chine et la Russie, réunies, c’est un immense marché de 1,5 milliards d’humains, d’une part. D’autre part, les entreprises de ces deux immenses pays sont sans cesse en quête de marchés, également. La connaissance de la langue chinoise, de la langue russe deviennent des impératifs pour acheter et/ou vendre à ce niveau.
            Framing33 vous accompagne, en vous proposant des programmes adaptés à vos besoins pour découvrir ou vous améliorer vos connaissances en chinois et ou en russe.</p>

            <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" href="#lorien">Voir nos tarifs</button>
            <div id="lorien" class="collapse" >
                <table  class="table table-responsive">
                    <tr>
                        <td>Chinois (communication courante)</td><td>5 jours</td></tr>
                    <tr>
                        <td>Russe (communication courante)</td><td>5 jours</td></tr>
                    <tr>
                        <td>Regroupement</td><td>100€/jour (Hors taxes), soit 20€(HT) par heure </td>
                    </tr>
                    <tr>
                        <td>Intra (chez le client)</td><td>150€/jour (Hors taxes), soit 30€(HT) par heure</td>
                    </tr>
                </table>

                </p>
            </div>
        </div>
    </div>
{% endblock %}