{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{{ parent() }}|Cours particuliers{% endblock %}

{% block body %}
    <div id="cadre">
        <div id="block-text">
            <h3>Langue française</h3><hr>
            <p>
                <p>LE FRANÇAIS EST UNE LANGUE DIFFICILE : MAÎTRISEZ- LE GRÂCE À NOS FORMATIONS SUR MESURE !</p>
                <p>Le français est une langue indo-européenne de la famille des langues romanes et est une des rares - aujourd'hui - parlé sur tous les continents par environ 220 millions de personnes dont 115 millions de locuteurs natifs, auxquels s'ajoutent 72 millions de locuteurs partiels. Il est également enseigné dans de nombreuses universités à travers le monde et il jouit d’un rayonnement notamment dans les mondes diplomatique, journalistique, judiciaire et universitaire.</p>

                <p>Framing33 vous accompagne dans votre apprentissage linguistique du français autour de trois aspects précis :</p>
                <ul>
                <li>Le FCLM ou Français Comme Langue Maternelle : tous les besoins sont pourvus. Cela va de la lutte contre l’illettrisme, de la remise à niveau (orthographe, grammaire, rédaction de documents administratifs, etc.), Framing33 vous accompagne le long de ces parcours.</li>
                <li>Le FCLE ou Français Comme Langue Etrangère : ce programme a pour cibles ceux et celles dont le français n’est pas la langue première. Un audit est réalisé afin d’évaluer le niveau de chacun et de lui fournir le programme adéquat.</li>
                </ul>

                <p>Framing33 propose, dans le cadre du Compte Personnel de Formation (CPF), du Droit ou du Plan de Formation aux salariés et aux entreprises, des formations professionnelles personnalisées.</p>


            </p>
        </div>
    </div>
{% endblock %}